.messages {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}
.messages_info {
  margin-left: 20px;
}
.messages_timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
